name: Automação Vasco Diária
on:
  schedule:
    - cron: '0 11 * * *' # Roda às 08:00 AM de Brasília
  workflow_dispatch:
jobs:
  run-scraper:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Instalar Dependências
        run: pip install -r requirements.txt
      - name: Rodar Script
        env:
          URL_PLANILHA: ${{ secrets.URL_PLANILHA }}
        run: python main.py