# Nome que aparecerá na aba 'Actions' do seu GitHub
name: Automação Vasco - Envio para Planilha

# Define QUANDO o robô deve entrar em ação
on:
  schedule:
    # O horário segue o padrão UTC (Londres). 
    # '0 11 * * *' equivale a 08:00 AM no horário de Brasília.
    - cron: '0 11 * * *'
  
  # Esta opção permite que você rode o robô manualmente clicando em um botão no site
  workflow_dispatch:

# O que o robô deve fazer quando for ligado
jobs:
  executar_raspagem:
    # Define que usaremos um computador virtual com Linux (Ubuntu)
    runs-on: ubuntu-latest

    steps:
      # 1º Passo: Copia os arquivos do seu repositório para dentro deste computador virtual
      - name: Baixando os arquivos do projeto
        uses: actions/checkout@v4

      # 2º Passo: Prepara o ambiente instalando o Python
      - name: Instalando o Python no servidor
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      # 3º Passo: Instala as bibliotecas necessárias (Selenium e Requests)
      - name: Instalando as bibliotecas (Selenium e Requests)
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      # 4º Passo: O momento principal onde o robô executa o main.py
      - name: Rodando o script principal
        env:
          # Aqui fazemos a "ponte": pegamos o link salvo no 'Secret' do GitHub
          # e entregamos para o Python através da variável de ambiente URL_PLANILHA
          URL_PLANILHA: ${{ secrets.URL_PLANILHA }}
        run: python main.py
